<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Maroon</title>
</head>
<body>
    <h1>Here are some pokemon:</h1>
    {% if prev_api_url %}
    <a href="/?offset={{offset-limit}}&limit={{limit}}">[Prev]</a>
    {% endif %}
    {% if next_api_url %}
    <a href="/?offset={{offset+limit}}&limit={{limit}}">[Next]</a>
    {% endif %}
    <ol>
        {% for pokemon in pokemon_list %}
        <li><a href="/{{pokemon.pokemon_id}}"><img src="{{pokemon.image_url}}" width="200px"/>{{ pokemon.name }}</a></li>
        {% endfor %}
    </ol>
</body>
</html>